.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #FF4D6D;
    animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}

.boxPost {
    width: 45%;
    justify-self: flex-start !important;
}

.text-decorator-none{
    text-decoration: none;
}

.botaoDeletar{
   background-color: #FF4D6D !important;
   color:#FFFFFF !important;
}

.botaoAtualizar{
    background-color: #FFB3C1 !important;
    color:#FFFFFF !important;
    
}

.botaoAtualizar:hover{
    background-color:#590D22 !important;
}

.botaoDeletar:hover{
    background-color:#590D22 !important;
}