.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: white !important;
    background-color: #FF4D6D !important;
    box-shadow: 3px 3px 7px #590D22;
    color: white !important;
}

.btnModal:hover{
    background-color:#590D22 !important;
}