.imagemHome{
    width:600px; 
    height:500px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #590D22;
    filter: opacity(60%); 

}

.imagemHome:hover{
    filter: grayscale(0%);
    transition: 500ms linear !important;

}

.botaoHome{
    border-color: white !important;
    background-color: #FF4D6D !important;
    box-shadow: 3px 3px 7px #590D22;
    color: white !important;
}

.botaoHome:hover{
    background-color:#590D22 !important;
}