.imagemHome{
    width:600px; 
    height:500px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #590D22;
    filter: opacity(60%); 
    margin-top: 50px;
    margin-bottom: 100px; 
    transition: 1.5s ease !important;
}

.imagemHome:hover{
    filter: grayscale(0%);
    /* transition: 500ms linear !important; */
    transform: scale(1.1);

}

.botaoHome{
    border-color: white !important;
    background-color: #FF4D6D !important;
    box-shadow: 3px 3px 7px #590D22;
    color: white !important;
}

.botaoHome:hover{
    background-color:#590D22 !important;
}